*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Outfit;
}
body{
    background-color: #C9B59C;
}
.container {
    width: 80%;
    max-width: 600px;
    background-color: #D9CFC7;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px #46311771
;
}
h1{
    font-size: 3rem;
    text-align: center;
}
p{
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    line-height: 1.6;
    margin: 20px 0;
    
}
label:not(.types){
  display: block;
  margin: 10px 0;
  
}
input:not(.radio-group input), textarea{
  width: 100%;
  height: 2rem;
}

input:focus, textarea:focus{
  border-color: brown;
  outline: none;
}

input:invalid, select:invalid, textarea:invalid{
  border-color: red;
}

input:valid, select:valid, textarea:valid{
  border-color: green;
}

button:hover{
  background-color: #B0E4CC;
}

.radio-group input[type="radio"]:checked{
  border-color: #B0E4CC;
  background-color: #408A71;
  box-shadow: 5px 5px 3px;
}

.radio-group input[type="radio"]:checked + label{
  color: green;
}

input:first-of-type{
  border-radius: 5px;
}
